<section class="categories" aria-label="Categorías">
  <app-container>
    <div class="categories__grid">
      @for (line of lines(); track line.categoryId; let col = $index) {
        <div class="categories__column" appReveal>
          <div class="categories__spacer categories__spacer--top" aria-hidden="true"></div>

          <h4 class="categories__title">{{ line.name }}</h4>

          <a
            class="categories__arrow"
            [routerLink]="categoryHref(line)"
            [attr.aria-label]="'Ir a ' + line.name"
          >
            <img src="/img/decor/flecha-roja.png" alt="" width="70" height="70" />
          </a>

          <div class="categories__spacer" aria-hidden="true"></div>

          <a class="categories__logo-link" [routerLink]="categoryHref(line)">
            <img
              class="categories__logo"
              [src]="logoSrc(line)"
              [alt]="'Logo ' + line.name"
              width="354"
              height="354"
            />
          </a>

          <div class="categories__spacer" aria-hidden="true"></div>

          @if (plainDescription(line); as desc) {
            <h6 class="categories__desc">{{ desc }}</h6>
          }

          <div class="categories__spacer" aria-hidden="true"></div>

          <a
            class="categories__circle-link"
            [routerLink]="categoryHref(line)"
            [attr.aria-label]="'Ver ' + line.name"
          >
            <img
              class="categories__circle-img"
              src="/img/decor/flecha-roja-circulo.png"
              alt=""
              width="70"
              height="70"
            />
          </a>

          <div class="categories__spacer" aria-hidden="true"></div>

          <div class="categories__groups">
            @for (group of line.catalogs; track group.id; let i = $index) {
              <app-accordion
                [title]="group.name"
                [initiallyOpen]="false"
                [panelId]="'cat-' + line.categoryId + '-' + group.id"
                [accentColor]="toggleColor(i)"
              >
                <ul class="categories__products">
                  @for (product of group.products; track product.id) {
                    <li>
                      <a [routerLink]="productHref(product.slug)">{{ product.title }}</a>
                    </li>
                  } @empty {
                    <li>
                      <a [routerLink]="catalogHref(group.slug)">Ver catálogo</a>
                    </li>
                  }
                </ul>
              </app-accordion>
            }
          </div>
        </div>
      }
    </div>
  </app-container>
</section>
